@import url("https://fonts.googleapis.com/css?family=Molengo");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Molengo, Helvetica, sans-serif;
}

.particles-bg {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

a:hover {
  color: #506aff;
}